<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ABC</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="font-weight: bolder;"><h2>ABC Bank</h2></a>
          <div>
            <a type="button" class="btn btn-dark" href="/add">Add</a>
            <a type="button" class="btn btn-dark" href="/transaction">History</a>
          </div>
        </div>
    </nav>
    